TW2/html/bibliographie.dtd

<?xml version="1.0" encoding="UTF-8"?>
  <!ELEMENT bibliographie (publication+)>
  <!ELEMENT publication (titre,auteurs+,pages+,annee)>
  <!ATTLIST publication type ( ARTICLE | CONFERENCE ) #REQUIRED>
  <!ELEMENT titre (#PCDATA)>
  <!ELEMENT auteurs (auteur+)>
  <!ELEMENT auteur (#PCDATA)>
  <!ELEMENT pages (#PCDATA)>
  <!ELEMENT annee (#PCDATA)>
