TW2/TW2/TDM02-Annexes/Liste-interpretes.dtd

<?xml version="1.0" encoding="UTF-8"?>
  <!ELEMENT liste-interpretes (interprete*)>
  <!ELEMENT interprete        (nom,prenom,siecle?)>
  <!ATTLIST interprete        index CDATA #REQUIRED>
  <!ELEMENT nom               (#PCDATA)>
  <!ELEMENT prenom            (#PCDATA)>
  <!ELEMENT siecle            (#PCDATA)>
